<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(34 49 58);
        }

        .iframe-container {
            position: relative;
            width: 100%;
            height: 100vh; /* Use 100vh for full viewport height */
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: none;
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="iframe-container">
        <iframe
            src="https://www.canva.com/design/DAFtQ6HmYt4/view?embed"
            allowfullscreen="allowfullscreen"
            allow="fullscreen"
        ></iframe>
    </div>
    <a
        href="https://www.canva.com/design/DAFtQ6HmYt4/view?utm_content=DAFtQ6HmYt4&utm_campaign=designshare&utm_medium=embeds&utm_source=link"
        target="_blank"
        rel="noopener"
    ></a>
</body>

</html>
